## Settings file was created by plugin LCVR v1.3.6
## Plugin GUID: io.daxcess.lcvr

[Car]

## Disables the need to physically steer the Company Cruiser
# Setting type: Boolean
# Default value: false
DisableCarSteeringWheelInteraction = false

## Disables the need to physically press the generic buttons in the Company Cruiser (radio, windshield wipers, etc)
# Setting type: Boolean
# Default value: false
DisableCarButtonInteractions = false

## Disables the need to physically press the car honk in the Company Cruiser
# Setting type: Boolean
# Default value: false
DisableCarHonkInteraction = false

## Disables the need to physically press the eject button in the Company Cruiser
# Setting type: Boolean
# Default value: false
DisableCarEjectInteraction = false

## Disables the need to physically shift the gears in the Company Cruiser
# Setting type: Boolean
# Default value: false
DisableCarGearStickInteractions = false

## Disables the need to physically start/stop the car ignition in the Company Cruiser
# Setting type: Boolean
# Default value: false
DisableCarIgnitionInteractions = false

[General]

## Disables the main functionality of this mod, can be used if you want to play without VR while keeping the mod installed.
# Setting type: Boolean
# Default value: false
DisableVR = true

## When enabled, shows a popup on game launch where you are asked whether or not you want to play in VR. If DisableVR is set to true, this popup will not show.
# Setting type: Boolean
# Default value: false
AskOnStartup = false

## Enables the first person helmet visor and helmet. This will restrict your field of view, but looks more immersive.
# Setting type: Boolean
# Default value: false
EnableHelmetVisor = false

[Input]

## Specify which turning provider your player uses, if any.
# Setting type: TurnProviderOption
# Default value: Snap
# Acceptable values: Snap, Smooth, Disabled
TurnProvider = Smooth

## A multiplier that is added to the smooth turning speed. Requires turn provider to be set to smooth.
# Setting type: Single
# Default value: 1
# Acceptable value range: From 0.25 to 5
SmoothTurnSpeedModifier = 1

## The amount of rotation that is applied when performing a snap turn. Requires turn provider to be set to snap.
# Setting type: Single
# Default value: 45
# Acceptable value range: From 10 to 180
SnapTurnSize = 45

## Whether the sprint button should toggle sprint instead of having to hold it down.
# Setting type: Boolean
# Default value: false
ToggleSprint = false

## The amount of seconds that you need to stand still for sprint to be toggled off automatically. Requires sprint toggle to be enabled.
# Setting type: Single
# Default value: 1
# Acceptable value range: From 0 to 60
MovementSprintToggleCooldown = 1

## The amount of force required to register a UI button press. The lower the value, the more sensitive UI presses become.
# Setting type: Single
# Default value: 0.25
# Acceptable value range: From 0 to 1
ButtonPressPoint = 0.25

[Interaction]

## Disables the physical lever pull interaction on the ship lever.
# Setting type: Boolean
# Default value: false
DisableShipLeverInteraction = false

## Disables needing to hold items up to the charger physically.
# Setting type: Boolean
# Default value: false
DisableChargeStationInteraction = false

## Disables needing to physically press the buttons for the monitor.
# Setting type: Boolean
# Default value: false
DisableMonitorInteraction = false

## Disables needing to physically press the buttons for the ship door.
# Setting type: Boolean
# Default value: false
DisableShipDoorInteraction = false

## Disables needing to physically press the buttons for the teleporters.
# Setting type: Boolean
# Default value: false
DisableTeleporterInteraction = false

## Disables needing to physically pull the cord on the ship horn.
# Setting type: Boolean
# Default value: false
DisableShipHornInteraction = false

## Disables needing to physically press the bell at the company desk.
# Setting type: Boolean
# Default value: false
DisableCompanyBellInteraction = false

## Disabled needing to physically open the breaker box and flip the switches with your finger.
# Setting type: Boolean
# Default value: false
DisableBreakerBoxInteraction = false

## Disable needing to physically open and close doors by interacting with the door handles. Will also disable the need to use keys and lockpickers physically on the door handle.
# Setting type: Boolean
# Default value: false
DisableDoorInteraction = false

## Disable needing to physically pull the lever for the big doors on Artiface
# Setting type: Boolean
# Default value: false
DisableHangarLeverInteraction = false

## Disables the self-muffling feature, which makes it so that holding your hand in front of your mouth will no longer make you inaudible to enemies.
# Setting type: Boolean
# Default value: false
DisableMuffleInteraction = false

## Disables the functionality to hold certain items up to your face to use them.
# Setting type: Boolean
# Default value: false
DisableFaceInteractions = false

## Disables needing to physically press the elevator buttons
# Setting type: Boolean
# Default value: false
DisableElevatorButtonInteraction = false

[Internal]

## Whether the VR intro screen has been displayed before. This configuration option should be set automatically.
# Setting type: Boolean
# Default value: false
IntroScreenSeen = true

## FOR INTERNAL USE ONLY, DO NOT EDIT
# Setting type: String
# Default value: 
ControllerBindingsOverride = 

## FOR INTERNAL USE ONLY, DO NOT EDIT
# Setting type: String
# Default value: 
OpenXRRuntimeFile = 

## Disables the settings button on the main menu screen
# Setting type: Boolean
# Default value: false
DisableSettingsButton = false

[Performance]

## The occlusion mesh will cause the game to stop rendering pixels outside of the lens views, which increases performance.
# Setting type: Boolean
# Default value: true
EnableOcclusionMesh = true

## Whether or not dynamic resolution should be enabled. Required for most of these settings to have an effect.
# Setting type: Boolean
# Default value: false
EnableDynamicResolution = false

## The filter/algorithm that will be used to perform dynamic resolution upscaling. Defaulted to FSR (Edge Adaptive Scaling).
# Setting type: DynamicResUpscaleFilter
# Default value: EdgeAdaptiveScalingUpres
# Acceptable values: Bilinear, CatmullRom, Lanczos, ContrastAdaptiveSharpen, EdgeAdaptiveScalingUpres, TAAU
DynamicResolutionUpscaleFilter = EdgeAdaptiveScalingUpres

## The percentage of resolution to scale the game down to. The lower the value, the harder the upscale filter has to work which will result in quality loss.
# Setting type: Single
# Default value: 80
# Acceptable value range: From 0 to 100
DynamicResolutionPercentage = 80

## This setting configures the resolution scale of the game, lower values are more performant, but will make the game look worse. From around 0.8 the difference is negligible (on a Quest 2, with dynamic resolution disabled).
# Setting type: Single
# Default value: 0.75
# Acceptable value range: From 0.05 to 1.5
CameraResolution = 0.75

## Disables volumetrics in the game, which significantly improves performance, but removes all fog and may be considered cheating.
# Setting type: Boolean
# Default value: false
DisableVolumetrics = false

[Rendering]

## Adds a second camera mounted on top of the VR camera that will render seperately from the VR camera to the monitor. This requires quite a bit of extra GPU power!
# Setting type: Boolean
# Default value: false
EnableCustomCamera = false

## The field of view that the custom camera should have.
# Setting type: Single
# Default value: 90
# Acceptable value range: From 45 to 120
CustomCameraFOV = 90

## The smoothing factor of the custom camera rotation. Higher values mean more static movement, lower values are more smooth.
# Setting type: Single
# Default value: 0.1
# Acceptable value range: From 0.01 to 1
CustomCameraLerpFactor = 0.1

## The LOD bias is a multiplier that dictates when an LOD must reduce their quality. Higher values means that more detailed LODs will persist for longer.
# Setting type: Single
# Default value: 2
# Acceptable value range: From 1 to 5
LODBias = 2

## Disables the warping effects that you experience when you are under water, use the TZP-inhalant and more.
# Setting type: Boolean
# Default value: false
DisableLensDistortion = false

## When spectating, also disable all volumetrics (fog) while the fullbright lighting is enabled for more visibility.
# Setting type: Boolean
# Default value: false
SpectatorLightRemovesVolumetrics = false

## The X offset that is added to the XR Mirror View shader. Do not touch if you don't know what this means.
# Setting type: Single
# Default value: 0
# Acceptable value range: From -1 to 1
MirrorXOffset = 0

## The Y offset that is added to the XR Mirror View shader. Do not touch if you don't know what this means.
# Setting type: Single
# Default value: 0
# Acceptable value range: From -1 to 1
MirrorYOffset = 0

[UI]

## Whether most of the camera-locked UI elements should only (smoothly) rotate on the Y axis, instead of being stuck on your face.
# Setting type: Boolean
# Default value: true
EnablePitchLockedCanvas = true

## Removes the HUD from the arms and displays them in front of the camera.
# Setting type: Boolean
# Default value: false
DisableArmHUD = false

## The x offset of the HUD that was placed on the camera instead of the arms. Requires the arm HUD to be disabled.
# Setting type: Single
# Default value: 0
OffsetX = 0

## The y offset of the HUD that was placed on the camera instead of the arms. Requires the arm HUD to be disabled.
# Setting type: Single
# Default value: 0
OffsetY = 0

## Enable a visible ray coming out of the hand that tells you where you are currently aiming at. More or less for debug purposes, but can be used to get a feel for the rotations and such.
# Setting type: Boolean
# Default value: false
EnableInteractRay = false

